div {
   text-align: center;
   margin: 0px;
   color: #14e8e8;
}
body {
    height: 95.4vh;
    /*background: linear-gradient(to bottom, #00eebb, #05ff22);*/
}
.space { margin-top: 600px; } /* Classen space, med en margin over der hvor den bliver kaldt på 600px */
#canvasCon{
  	text-align: center;
}

h1 {
  	color: #0ff05b;
}
h2 {
		color: #0ff05b;
}

canvas{
  	margin:20px;
  	text-align: center;
  	display: inline;
  	width: 600px;
  	height: 400px;
  	background-color: black;
}
html { 
    background: url('img/back.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 300%;
    width: 100%;
}

button {
    width: 10%;
    height: 2%; 
}
div.img {
    margin: 1.5%;
    border: 1px solid #ccc;
    float: left;
    width: 30%;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}